<%- include('./partials/header') %>
<h1>Welcome to the Herbaldashery CookBook!!</h1>
<% if (contributor) { %>
 <h2>Thank you for supporting Herbaldashery</h2>
<% } else { %>
  <h2>Please contact us for access!!</h2>
<% }; %>
<%- include('./partials/footer') %>