<%- include('./partials/header') %>
<div class="align-center"></div>
<h1>Welcome to the Herbaldashery CookBook!!</h1>
<% if (contributor) { %>
 <h2>Thank you for supporting Herbaldashery</h2>
<% } else { %>
  <a class="btn-small left" href="/users/add">Create Account</a>
<% }; %>
</div>
<%- include('./partials/footer') %>