<%- include('./partials/header') %>
<div class="align-center">
<h1>Welcome to the Herbaldashery CookBook!!</h1>
  <h2>Unfortunately, you do not have access to the cookbook.</h2>
  <h2>Please contact us for access at andrew@herbaldashery.com</h2>
</div>
<%- include('./partials/footer') %>