<%- include('./partials/header') %>

<div class="container">
    <p>When you place an order online you must give your consent for us to use your personal data in the way outlined in this policy.</p>
    <p> By using our services, you consent to the use of your personal data in line with this privacy policy.</p>
    <p> Should you wish to revoke or update your consent in relation to our privacy policy please contact us&nbsp;<a href="mailto:customercare@herbaldashery.com">customercare@herbaldashery.com</a> </p>
    <p> This privacy policy is about how we collect, store, and use the personal information that you provide to us online. This privacy policy relates to Herbaldashery LLC, a company registered in the United States. </p>
    <p>&nbsp;</p>
    <p><strong>Our Policy</strong></p>
    <p> Herbaldashery respects your privace and will only use the personal information that you supply to process current and future orders unless you opt in to receive marketing communications. We collect personal information when you register or subscribe for one of our services, competitions, offers, place an order or opt in within our store. When you place an order or access your account information online, we use Secure Socket Layer (SSL) encryption, provided by GeoTrust, which encrypts your information before it is sent to us to protect it from unauthorized use.</p>
    <p>Your information will be passed to third party processors if necessary when you place an order.</p>
    <p>We share information with our data processor, for the purpose of email marketing if you buy online. We will only email you with marketing communication if you have opted in to receive such notifications at checkout or on a previous occasion. Herbaldashery has entered into shared privacy agreements with all data processors to ensure the individual’s data protection obligations are met. You may request erasure of this shared data at any time.</p>
    <p>Herbaldashery does not sell your Personal Information to third parties. We also do not pass on any of your details to third parties for marketing purposes unless this has been expressly state and opted into at the point of sign-up.</p>
    <p>&nbsp;</p>
    <p> <strong>What information do you hold?</strong></p>
    <p> When you place an order or subscribe we will collect your name, billing and delivery address, e-mail address, contact number and IP address. We may record which products you are interested in and which products you purchase. This enables us to process your orders and improve the products and services we offer. We do not keep any payment details on file; all payments are direct between you and our merchant bank.</p>
    <p> You may request a copy of the information we hold on you by emailing&nbsp;<a href="mailto:customercare@herbaldashery.com">customercare@herbaldashery.com</a>.</p>
    <p>&nbsp;</p>
    <p><strong>How do you use it?</strong></p>
    <p>Browsing/cookie data will be used to help us remember who you are and can help us display information on site that matches your preferences and interests. We will also use cookies to understand your preferences for email marketing which includes technology that allows us to remind you later that you have left items in your cart, if you don’t complete a purchase.</p>
    <p> When you opt in for our email marketing we will use your email address, purchase and cookie data to tailor email campaign content to you and ensure we deliver the best possible content for you.</p>
    <p> Please note that you can unsubscribe from our emails at any time by clicking the unsubscribe button at the footer of any email. Alternatively, you can contact our Customer Care team on&nbsp;<a href="mailto:customercare@herbaldashery.com">customercare@herbaldashery.com</a>.</p>
    <p> If we are requested by the police or other regulatory authority to provide your personal information we are required to do so by law.</p>
    <p>&nbsp;</p>
    <p><strong>How do I unsubscribe?</strong></p>
    <p>If at any point you no longer wish to receive marketing communication from us there are a number of ways you can unsubscribe.</p>
    <p>You can click on the "unsubscribe" link at the bottom of any communication that we send to you by email which will automatically unsubscribe you from that type of communication. Each "unsubscribe" link only relates to that specific type of communication, like newsletters. Please also note that you may continue to receive communications which are already on route to you for a short period of time while your relevant unsubscribe request is being processed. If you unsubscribe from marketing communication we will continue to send order dispatch and confirmation emails, along with any other communication which relates to a specific sale or sale negotiation.</p>
    <p>Alternatively, you can contact us by emailing us at&nbsp;<a href="mailto:customercare@herbaldashery.com">customercare@herbaldashery.com</a>.</p>
    <p>&nbsp;</p>
    <p><strong>Can I see a copy of the data you hold?</strong></p>
    <p>We understand that under new legislation you may request to see a copy of the data we hold on you at any time. We endeavor to provide you with this information free of charge and within a reasonable time frame. Should you wish to receive a copy of this data please contact our online team at&nbsp;<a href="mailto:customercare@herbaldashery.com">customercare@herbaldashery.com</a>.</p>
    <p>&nbsp;</p>
    <p><strong>What are cookies?</strong></p>
    <p>We and our business partners’ collect information about your use of our online services using cookies. Cookies are small files that are sent by us to your computer which we can access when you visit our site in future. Cookies help us remember who you are and other information about your visits. Most websites use cookies.</p>
    <p> You will have noticed, when visiting other websites, that you are shown adverts for products and services you may wish to buy. Having these cookies does not increase the number of adverts you will be shown, but simply makes the adverts you see more relevant. In addition, they limit the number of times you see an advertisement, as well as helping us measure the effectiveness of our advertising campaigns.</p>
    <p>&nbsp;</p>
    <p><strong>Can I remove cookies?</strong></p>
    <p>If you want to delete any cookies that are already on your computer, please refer to the help and support section on your internet browser for instructions on how to locate the file or directory that stores cookies. Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.</p>
    </div>

    <%- include('../partials/footer') %>